<h1>Facebook#get_friends</h1>
<p>Find me in app/views/facebook/get_friends.html.erb</p>

<%= @user_info.as_json.to_s + ' ' + current_user.oauth_token %>
<br/>
<% @friends.each_with_index do |friend, i| %>
    <img src="https://graph.facebook.com/<%= friend['id'] %>/picture">
    <br/>
<% end %>